#!/bin/bash
export SPOTWEBVOLUME=/yourfolder
export PGADMINEMAIL=youremail@host.com
export PGADMINPASSWORD=yourpassword
export MAIL_SERVER = '<smtp-host>'
export MAIL_PORT = 25
export MAIL_USE_SSL = False
export MAIL_USE_TLS = False
export MAIL_USERNAME = '<email-address>'
export MAIL_PASSWORD = '<password>'

WANTEDLINK=docker-compose.<yourdatabaseengine>.yml
CURRENTLINK=$(readlink docker-compose.override.yml )
if [  $CURRENTLINK != $WANTEDLINK ] ; then
        echo "Removing existing docker-compose.override.yml"
        rm -f docker-compose.override.yml
        ln -s $WANTEDLINK docker-compose.override.yml
else
        echo "Using existing docker-compose.override.yml"
fi
docker-compose up --build -d

