export SPOTWEBVOLUME=/yourfolder

#pgadmin

export PGADMINEMAIL=youremail@host.com
export PGADMINPASSWORD=yourpassword
export PGADMINPORT=80
export MAIL_SERVER = '<smtp-host>'
export MAIL_PORT = 25
export MAIL_USE_SSL = False
export MAIL_USE_TLS = False
export MAIL_USERNAME = '<email-address>'
export MAIL_PASSWORD = '<password>'

# nzbget

export NZBGETVOLUME=/path/to/nzbget/data
export DOWNLOADVOLUME=/path/to/download

# samba

export SAMBAVOLUME=/path/to/samba/data
export SAMBA_ROOT_PASSWORD=<password of root in samba>
